/* .img-artikel {
    background-color: brown !important;
} */

.artikelimage {
    width: 250px;
}

.btn-update:hover {
    background-color: #14ae5c !important;
}

.btn-delete:hover {
    background-color: #ff2d2d !important;
}